<div class="container p-50 ">

  <table width="100%">
    <tr>
      <!-- <td width="75px"><div class="logotype">Copmany</div></td> -->
      <td width="300px"><div style="background: #ffd9e8;border-left: 15px solid #fff;padding-left: 30px;font-size: 26px;font-weight: bold;letter-spacing: -1px;height: 73px;line-height: 75px;">Order invoice</div></td>
      <td></td>
    </tr>
  </table>
  <br><br>
  <h3>Your contact details</h3>
  <p>We would save you on your Table. Please kindly be patient</p><br>
  <table width="100%" style="border-collapse: collapse;">
    <tr>
      <td widdth="50%" style="background:#eee;padding:20px;">
        <strong>Date:</strong> 2021/09/06<br>
        <strong>Payment type:</strong> Credit Card VISA<br>
        <strong>Delivery type:</strong> Postnord<br>
      </td>
      <td style="background:#eee;padding:20px;">
        <strong>Order-nr:</strong> 27100<br>
        <strong>E-mail:</strong> mamaoke@company.com<br>
        <strong>Phone:</strong> +2347035432921<br>
      </td>
    </tr>
  </table><br>
  <table width="100%">
    <tr>
      <td>
        <table>
          <tr>
            <td style="vertical-align: text-top;">
              <div style="background: #EC6182 url(https://cdn0.iconfinder.com/data/icons/commerce-line-1/512/comerce_delivery_shop_business-07-128.png);width: 50px;height: 50px;margin-right: 10px;background-position: center;background-size: 42px;"></div>
            </td>
            <td>
              <strong>Delivery</strong><br>
              Chapele tega<br>
              EEE, Fupre<br>
              Warri, Delta<br>
              Nigeria
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td style="vertical-align: text-top;">
              <div style="background: #EC6182 url(https://cdn4.iconfinder.com/data/icons/app-custom-ui-1/48/Check_circle-128.png) no-repeat;width: 50px;height: 50px;margin-right: 10px;background-position: center;background-size: 25px;"></div>
            </td>
            <td>
              <strong>Delivery</strong><br>
              Chapele tega<br>
              EEE, Fupre<br>
              Warri, Delta<br>
              Nigeria
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table><br>
  <table width="100%" style="border-top:1px solid #eee;border-bottom:1px solid #eee;padding:0 0 8px 0">
    <tr>
      <td><h3>Checkout details</h3>Your checkout made by VISA Card **** **** **** 1234<td>
    </tr>
  </table><br>
  <div style="background: #EC6182 url(https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/shopping-cart-shop-drop-trolly-128.png) no-repeat;width: 50px;height: 50px;margin-right: 10px;background-position: center;background-size: 25px;float: left; margin-bottom: 15px;"></div>
  <h3>Your Products</h3>

   <table width="100%" style="border-collapse: collapse;border-bottom:1px solid #eee;">
     <tr>
       <td width="40%" class="column-header">Product</td>
       <td width="20%" class="column-header">Options</td>
       <td width="20%" class="column-header">Price</td>
       <td width="20%" class="column-header">Total</td>
     </tr>
     <tr>
       <td class=""><span style="color:#777;font-size:11px;">#64000L</span><br>Egusi</td>
       <td class="">Cat Fish</td>
       <td class="">1 <span style="color:#777">X</span> 2,000</td>
       <td class="">2,000</td>
     </tr>
     <tr>
       <td class=""><span style="color:#777;font-size:11px;">#64000L</span><br>Goat soup</td>
       <td class="">fufu</td>
       <td class="">3 <span style="color:#777">X</span> 2,000</td>
       <td class="">2000</td>
     </tr>
  </table><br><br>
  <table width="100%" style="background:#eee;padding:20px;">
    <tr>
      <td>
        <table width="300px" style="float:right">
          <tr>
            <td><strong>Sub-total:</strong></td>
            <td style="text-align:right">4, 000 Naira</td>
          </tr>
          <tr>
            <td><strong>Shipping fee:</strong></td>
            <td style="text-align:right">0 Naira</td>
          </tr>
          <tr>
            <td><strong>Tax 25%:</strong></td>
            <td style="text-align:right">Nil</td>
          </tr>
          <tr>
            <td><strong>Grand total:</strong></td>
            <td style="text-align:right">4,000 Naira</td>
          </tr>
        </table>
       </td>
    </tr>
  </table>
  <!-- <div class="alert">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</div> -->
</div><!-- container -->
