<div class="col-12  p-50">
  <div class="p-4">
    <h1>
      Orders
    </h1>
  </div>

  <div class="order-table">

    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Customer</th>
          <th scope="col">Date</th>
          <th scope="col">Pricing</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">353544</th>
          <td>Mark Tobi</td>
          <td>12th August, 2021</td>
          <td>#2,000</td>
          <td>Pending</td>
        </tr>
        <tr>
          <th scope="row">353544</th>
          <td>Mark Tobi</td>
          <td>12th August, 2021</td>
          <td>#2,000</td>
          <td>Pending</td>
        </tr>
      </tbody>
    </table>


  </div>
</div>

