<div class="dash-product-component">
  <div class="dash-product" *ngFor="let product of products">
    <div class="dash-product-image">
      <div class="dash-product-image-holder">
        <img [src]="'assets/food/' + product.image"
        [alt]="product.name"
        />
      </div>
    </div>
    <div class="dash-product-short-details">
      <div class="rating">
        <fa-icon [icon]="starIcon"></fa-icon>
        <span>5.0</span>
      </div>
      <div class="product-name">
        <p>
          {{ product.name }}
        </p>
      </div>
    </div>
  </div>
</div>
