<ng-container>
    <div class="app-bag-overlay" (click)="closeModal()" [ngStyle]="{'display': isDisplay ? 'flex': 'none'}">
        <div class="bag-view" (click)="stopModalPropagation($event)">
            <ng-container [ngSwitch]="switchIt">

                <ng-container *ngSwitchCase="'bag'">
                    <ng-container *ngTemplateOutlet="bag"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'bagFormA'">
                    <ng-container *ngTemplateOutlet="bagFormA"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'bagReview'">
                    <ng-container *ngTemplateOutlet="bagReview"></ng-container>
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <ng-container *ngTemplateOutlet="bag"></ng-container>
                </ng-container>
            </ng-container>

        </div>
    </div>
</ng-container>


<ng-template #bag>
    <div>
        <div class="bag-header">
            <div class="bag-section cursor-pointer" (click)="closeModal()">
                <fa-icon [icon]="faShoppingCart"></fa-icon>
                <span class="m-0 p-0 s15-h24 ml-6">15</span>
            </div>
            <div class="price-section">
                <p class="m-0 s15-h24"><b>NGN</b> 20,000</p>
                <p class="m-0 s15-h24"><b>Shipping:</b> NGN 1,000</p>
            </div>
        </div>

        <div class="bag-contents">
            <div class="bag-content">

                <div>
                    <div class="bag-product-img">
                        <img src="assets/food/egusi-soup.jpg" alt="">
                    </div>
                    <div>
                        <p class="m-0 s12-h16 s15-md-h24">Product Name</p>
                        <p class="m-0 s12-h16 s15-md-h24">NGN 5,000</p>
                    </div>
                </div>

                <div>
                    <div class="ml-6 ml-md-0" [formGroup]="componentForm">
                      <app-inputs-type-b type="quantity" formControlName="quantity"></app-inputs-type-b>
                    </div>
                    <div class="ml-6">
                        <button class="btn-none">
                            <img src="assets/svg/delete-icon.svg" alt="" class="icon-20">
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="bag-footer">
        <app-button color="secondary" (click)="closeModal()">
            Keep shopping
        </app-button>
        <app-button (click)="switchBagView('bagFormA')">
            Checkout
        </app-button>
    </div>

</ng-template>

<ng-template #bagFormA>
    <div>
        <div class="bag-header">
            <div class="">
                <p class="m-0 p-0 s22-h32 text-weight-bold">Mama Oke</p>
                <p class="m-0 p-0 text-weight-medium s15-h24">Shipping</p>
            </div>
        </div>
        <div class="bag-contents">
            <div class="row">

                <div class="col-12">
                    <label class="m-0 s12-h16 text-weight-bold">Your Name</label>
                </div>

                <div class="col p-0 d-flex justify-content-between align-items-center">
                    <div class="col-5">
                        <div>
                            <app-inputs-type-b type="input" [config]="inputConfig('First Name')"></app-inputs-type-b>
                        </div>
                    </div>
                    <div class="col-5">
                        <div>
                            <app-inputs-type-b type="input" [config]="inputConfig('Last Name')"></app-inputs-type-b>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12 mt-20">
                    <div>
                        <label class="m-0 s12-h16 text-weight-bold">Your Email</label>
                        <app-inputs-type-b type="input" [config]="inputConfig('Email', 'email')"></app-inputs-type-b>
                    </div>
                </div>
            </div>

            <div class="row mt-20">

                <div class="col-12">
                    <label class="m-0 s12-h16 text-weight-bold">Phone Number</label>
                </div>

                <div class="col-12 d-flex justify-content-start align-items-center">
                    <p class="m-0 mr-16">
                    +234
                    </p>
                    <app-inputs-type-b type="input" [config]="inputConfig('Number', 'tel')"></app-inputs-type-b>

                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-20">
                    <div>
                       <label class="m-0 s12-h16 text-weight-bold">Delivery Address</label>
                        <app-inputs-type-b type="input" [config]="inputConfig('Full Address')"></app-inputs-type-b>
                    </div>
                </div>
            </div>


        </div>

        <div class="bag-footer mt-40">
            <app-button color="secondary" (click)="switchBagView('bag')">
                Back
            </app-button>
            <app-button (click)="switchBagView('bagReview')">
                Review
            </app-button>
        </div>
    </div>

    <div class="bag-footer">
        <div class="bag-section cursor-pointer" (click)="closeModal()">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
            <span class="m-0 p-0 s15-h24 ml-6">5</span>
        </div>
        <div class="price-section">
            <p class="m-0 s15-h24"><b>NGN</b> 20,000</p>
            <p class="m-0 s15-h24"><b>Shipping:</b> NGN 1,000</p>
        </div>
    </div>
</ng-template>


<ng-template #bagReview>
     <div>
        <div class="bag-header">
            <div class="bag-section">
                <p class="m-0 p-0 s22-h32 text-weight-bold">Orders Details</p>
            </div>
            <div class="bag-section">
                <img src="assets/svg/shopping-bag-icon.svg" alt="" class="icon-25">
                <span class="m-0 p-0 s15-h24 ml-6">5</span>
            </div>
        </div>
         <div class="bag-contents">
             <div>

                 <div class="d-flex flex-row justify-content-start align-items-center mb-14">
                    <p class="m-0 ml-16 text-weight-bold s14-h16">Chapele Tega</p>
                 </div>

                 <div class="d-flex flex-row justify-content-start align-items-center mb-14">
                    <p class="m-0 ml-16 s14-h16">chapele@gmail.com</p>
                 </div>

                 <div class="d-flex flex-row justify-content-start align-items-center mb-30">
                    <p class="m-0 ml-16 s14-h16">+2347035432921</p>
                 </div>

                 <div class="col-10 p-0">
                    <p class="m-0 s12-h16 text-weight-bold mb-10">Delivery Address</p>
                    <p class="m-0 s14-h16">1000, loram is playing street, surulere, Delta State, Nigeria</p>
                 </div>

             </div>

             <div class="mt-60">
                <div class="bag-content">
                    <p class="m-0 s12-h16 text-weight-bold">I phone6  <span class="m-0 ml-6">x3</span></p>
                    <p class="m-0 s12-h16 text-weight-bold">NGN  <span class="m-0 ml-6">5,000</span></p>
                </div>
                <div class="bag-content">
                    <p class="m-0 s12-h16 text-weight-bold">I phone7  <span class="m-0 ml-6">x3</span></p>
                    <p class="m-0 s12-h16 text-weight-bold">NGN  <span class="m-0 ml-6">5,000</span></p>
                </div>
                <div class="bag-content">
                    <p class="m-0 s12-h16 text-weight-bold">Total</p>
                    <p class="m-0 s12-h16 text-weight-bold">NGN  <span class="m-0 ml-6">10,000</span></p>
                </div>
             </div>

         </div>
    </div>

    <div class="bag-footer">
        <app-button color="secondary" (click)="switchBagView('bagFormA')">
            Back
        </app-button>
        <app-button (click)="closeModal()">
            Done
        </app-button>
    </div>

</ng-template>
