<div class="dash-header">
  <div class="user-avatar">
    <div class="image-holder">
      <img src="assets/img/user.png" alt="" />
    </div>
  </div>
  <div class="dash-name">
    <p>
      Welcome To Mamaoke <br>
      Restaurant
    </p>
  </div>
  <div class="search-icon dash-bg-icon" (click)="toggleSearched()" *ngIf="!isToSearch">
    <fa-icon [icon]="icons.search"></fa-icon>
  </div>
  <div class="search-input" *ngIf="isToSearch">
    <app-inputs [config]="searchConfig"></app-inputs>
  </div>
  <div class="cart-icon" (click)="openModal()">
    <div class="dash-bg-icon">
      <fa-icon [icon]="icons.cart"></fa-icon>
    </div>
    <div class="cart-icon-number">
      <span>20</span>
    </div>
  </div>
</div>
