@import "./components/input";
@import "./components/fonts";
@import "./components/typography";
@import "./components/colors";
@import "./components/border";
@import "./components/images";
@import "./components/sizing";
@import "./components/boxShadow";
@import "./components/buttons";
@import "./components/sidebar";
@import "./components/bottomnav";
@import "./components/custom-header";
@import "./components/dashboard";
@import "./components/modal";
@import "./components/cart";

body {
  background: $app-background !important;
}

.m-0 {
  margin: 0 !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
