@import "../mixins";
@import "../variables";
@import "./include";

.dashboard {
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(flex-start);

  height: 100vh;

  @include media(">=desktop") {
    padding: 20px 20px 20px 0;
  }

  .dashboard-view {
    height: 100%;
    width: 100%;

    @include media(">=phone") {
      background-color: white;
    }

    @include media(">=desktop") {
      border-radius: 20px;
    }
  }
}

.dash-header {
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  padding: rem(10) rem(16);

  .user-avatar {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);

    @include media(">=tablet") {
      display: none !important;
    }

    .image-holder {
      width: rem(40);
      height: rem(40);
      overflow: hidden;

      img {
        width: rem(40);
        height: rem(40);
        object-fit: contain;
        border-radius: 50%;
      }
    }
  }

  fa-icon {
    pointer-events: cursor !important;

    svg {
      width: 20px !important;
      height: 20px !important;
    }
  }

  .dash-bg-icon {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    padding: rem(10) rem(15);
    border-radius: 20%;

    fa-icon {
      color: white;
    }
  }

  .search-icon {
    background: var(--app-color-74728b);
  }

  .cart-icon {
    background: var(--app-color-323141);
  }

  .dash-name {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 900;
    color: var(--app-color-323141);

    p {
      margin: 0 !important;
    }

    display: none;

    @include media(">=tablet") {
      display: initial;
    }
  }
}

.dash-body {
  padding: rem(10) rem(16);

  .dash-categories {
    .dash-categories-component {
      .cat-list-sm {
        width: 80px;
        height: 120px;
        border-radius: 50px;
        padding: rem(20) rem(10);

        @include media(">=tablet") {
          width: 100px;
          height: 150px;
        }

        background: red;
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(space-between);

        .cat-icon {
          .cat-icon-holder {
            width: rem(40);
            height: rem(40);
            overflow: hidden;

            img {
              width: rem(40);
              height: rem(40);
            }
          }
        }

        .cat-text {
          margin: 0 !important;
          font-size: 0.5rem !important;
          font-family: Montserrat;
          font-weight: 600;
        }
      }
    }
  }
}
