@import "../mixins";
@import "../variables";
@import "./include";

.dashboard {
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(flex-start);

  height: 100vh;

  @include media(">=desktop") {
    padding: 20px 20px 20px 0;
  }

  .dashboard-view {
    height: 100%;
    width: 100%;

    @include media(">=phone") {
      background-color: white;
    }

    @include media(">=desktop") {
      border-radius: 20px;
    }
  }
}

.dash-header {
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  padding: rem(10) rem(16);

  .user-avatar {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);

    .image-holder {
      width: rem(40);
      height: rem(40);
      overflow: hidden;

      img {
        width: rem(40);
        height: rem(40);
        object-fit: contain;
        border-radius: 50%;
      }
    }
  }

  fa-icon {
    pointer-events: cursor !important;

    svg {
      width: 20px !important;
      height: 20px !important;
    }
  }
}
